
.card{
  background-color: rgb(165, 69, 255)!important;
}

.card h1{
  font-size: 45px;
  color: #5300a1;
  margin: 0;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;


}
.content-header{
  text-align: center;
  margin: 20px 0;

}
.form-control {
  width: 60%!important;
  margin: 0 auto!important;
}

.content-header h3{
  font-size: 58px;
  padding: 24px 0;
  color: #e3c5ff;
}
.content-header h4{
  font-size: 30px;
  padding: 7px 0;
  margin: 0;
  color: #e3c5ff;
}

.content-header p{
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
  color: #e3c5ff;
}

.content-header h3 span{
   padding-left: 10px;
}

.error{
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
}